.App {
  border-spacing: .5rem;
}

.toolbox {
  float:right;
  width:10rem;
  padding:1rem;
  border:1px solid #ba9;
  background:#a98;
  border-radius:1rem;
}

.toolbox button {
  display:block;
  margin:1rem auto;
  padding:1rem;
  border-radius:.5rem;
  font-size:1.3rem;
}

.exited {
  position:absolute;
  z-index:1;
  opacity:.5;
  background:#987;
  font-size:6rem;
  padding:6rem 6rem;
}