
.controlled_input {
    display:inline-block;
}

.editable {
    display:inline-block;
}

.editable img, img.button {
    vertical-align:middle;
    margin-left:5px;
    opacity:.7;
    border:1px solid #aaa;
    border-radius:4px;
    box-shadow: 2px 2px 2px #777;
    cursor:pointer;
    display:inline-block;
}